<!DOCTYPE html>
<html>
<head>
    <title>PDSpace</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <header class="title-header">
        <h1>PDSpace</h1>
        <h2>The Solution For All Your Meeting Space Needs</h2>
        <h3>Created by Armaan Agrawal '25</h3>
    </header>
   <h2>How to make your first reservation</h2>
        <p>1. Log in to your email</p>
        <p>2. Click on "View Reservations"</p>
        <p>3. Click on "Make A Reservation"</p>
        <p>4. Enter the requested information</p>
        <p>5. View your reservation details on the confirmation page</p>
    <div class="btn-style">
        <button onclick="window.location.href = '/authorize';">Log In</button>
        <button onclick="window.location.href = '/viewReservations';">View Reservations</button>
        <button onclick="window.location.href = '/viewAvailability';">View Availability</button>
        <button onclick="window.location.href='https://docs.google.com/document/d/14WCpPhMYUvoJNWfikE9xDg9vTcmST_3-Y_EPHu9wOpQ/edit';">Documentation</button>
        <button onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSf4w0vj1d23mtsuuBBpwPGcribCTO9wD0g2RrmFq1YkZd3OTg/viewform?usp=sf_link';">Feedback</button>
    </div>
    <footer class="footer">
        <p>© 2024 Armaan Agrawal. All rights reserved.</p>
    </footer>
</body>
</html>
