<!DOCTYPE html>
<html>
<head>
    <title>Availability</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <header class="title-header">
        <ul class="menu">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('view_reservations') }}">View Reservation</a>
            <a href="{{ url_for('view_availability') }}">View Availability</a>
        </ul>
        <h1>Availabilities</h1>
    </header>
    <h2>Room Descriptions</h2>
        <p>Library Conference Room #1: Longer meeting table; whiteboard</p>
        <p>Library Conference Room #2: TV Screen</p>
        <p>Library Classroom: Large meeting space; Smartboard</p>
    <form action="/filteredAvailabilities" method="GET">
        <h2>Filter by Room and Time</h2>
        <p>Category
            <select name="category">
                <option value="Room">Room</option>
                <option value="Time">Time</option>
                <option value="Both">Both</option>
            </select>
        </p>
        <p>Room <select name="room">
            <option value="N/A">N/A</option>
            <option value="1">Library Conference Room #1</option>
            <option value="2">Library Conference Room #2</option>
            <option value="3">Library Classroom</option>
        </select>
        <p>Time
            <select name="time">
                <option value="N/A">N/A</option>
                <option value="8:00 AM - 8:30 AM">8:00 AM - 8:30 AM</option>
                <option value="8:30 AM - 9:00 AM">8:30 AM - 9:00 AM</option>
                <option value="9:00 AM - 9:30 AM">9:00 AM - 9:30 AM</option>
                <option value="9:30 AM - 10:00 AM">9:30 AM - 10:00 AM</option>
                <option value="10:00 AM - 10:30 AM">10:00 AM - 10:30 AM</option>
                <option value="10:30 AM - 11:00 AM">10:30 AM - 11:00 AM</option>
                <option value="11:00 AM - 11:30 AM">11:00 AM - 11:30 AM</option>
                <option value="11:30 AM - 12:00 PM">11:30 AM - 12:00 PM</option>
                <option value="12:00 PM - 12:30 PM">12:00 PM - 12:30 PM</option>
                <option value="12:30 PM - 1:00 PM">12:30 PM - 1:00 PM</option>
                <option value="1:00 PM - 1:30 PM">1:00 PM - 1:30 PM</option>
                <option value="1:30 PM - 2:00 PM">1:30 PM - 2:00 PM</option>
                <option value="2:00 PM - 2:30 PM">2:00 PM - 2:30 PM</option>
                <option value="2:30 PM - 3:00 PM">2:30 PM - 3:00 PM</option>
                <option value="3:00 PM - 3:30 PM">3:00 PM - 3:30 PM</option>
                <option value="3:30 PM - 4:00 PM">3:30 PM - 4:00 PM</option>
                <option value="4:00 PM - 4:30 PM">4:00 PM - 4:30 PM</option>
                <option value="4:30 PM - 5:00 PM">4:30 PM - 5:00 PM</option>
            </select>
          </p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <table>
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Time</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            {% for row in dataframe.itertuples() %}
                <tr>
                    <td>{{ row.RoomNumber }}</td>
                    <td>{{ row.Time }}</td>
                    <td>{{ row.Available }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
